@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
}

#homepagina {
    background-image: linear-gradient(#AED4AA, #c1e4bd);
    height: 150vh;
    width: 99vw;
}

#menu {
    border: solid 1px black;
    height: 70px;
    padding: 0.5cm 0cm 0.1cm 0cm;
    text-align: center;
    font-family: 'Barlow';
    background-image: radial-gradient(#006444, #003c29);
    position: relative; /* Add positioning for the parent div */
    color: #ecffa1;
}

nav {
    background-image: radial-gradient(#6B9C85, #527665);
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
    position: relative;
    border: solid 1px black;
    font-size: 1.3em;
  
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Barlow';
}

nav a:hover {
    color: #dbff4a;
    font-family: 'Barlow';   
    font-weight: bold;
}

.logo {
    max-width: 10%;
    position: absolute; /* Position the image absolutely within the parent div */
    top: 50%; /* Move the image to the middle vertically */
    transform: translateY(-50%); /* Adjust to center the image vertically */
    left: 15px; /* Adjust the distance from the left side */
}

#welkomsbericht {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 2cm 0 0 1cm;
    width: 50%;
    padding: 0.5cm;
    font-size: 3em;
    background-image: radial-gradient(#5e7d69, #415f52);
    box-shadow: #003c29 5px 5px 5px 5px;
    border-radius: 2%;
    color: #ecffa1;
}

#titel {
    font-family: 'Barlow'; 
    border: solid 1px black;
    margin: 8cm 0 0 3cm;
    padding: 5px;
    width: 85%;
    text-align: center;
    background-image: linear-gradient(#006444, #003c29);
    color: #ecffa1;
    position: absolute;
}

#info {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 20px 0 0 -6px;
    width: 99%;
    height: 8cm;
    padding: 20px 3px 0 10px;
    color: white;
    background-image: radial-gradient(#5e7d69, #415f52);
    text-align: left;
    font-size: 1.1em;
}

#bottom {
    font-family: 'Barlow'; 
    text-align: center;
}

#titel2 {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 20cm 0 0 3cm;
    width: 5cm;
    padding: 15px;
    color: #ecffa1;
    background-image: linear-gradient(#006444, #003c29);
}

#titel3 {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 20cm 0 0 20cm;
    width: 5cm;
    padding: 15px;
    color: #ecffa1;
    background-image: linear-gradient(#006444, #003c29);
}

#kopje1 {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 21.5cm 0 0 3cm; 
    width: 38%;
    height: 8cm;
    background-image: radial-gradient(#5e7d69, #415f52);
    color: white;
    padding: 20px;
    text-align: left;
}

#kopje2 {
    font-family: 'Barlow'; 
    border: solid 1px black;
    position: absolute;
    margin: 21.5cm 0 0 20cm; 
    width: 39%;
    height: 8cm;
    background-image: radial-gradient(#5e7d69, #415f52);
    color: white;
    padding: 20px;
    text-align: left;
}



/* ANIMATION STYLES */

.animate-on-load {
    animation: flowIn 1.8s forwards;
    animation-fill-mode: forwards;
}


@keyframes flowIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 20%; /* Adjust image size for smaller screens */
        left: 10px; /* Adjust the distance from the left side for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        max-width: 30%; /* Adjust image size for even smaller screens */
        left: 5px; /* Adjust the distance from the left side for even smaller screens */
    }
}
