@font-face {
    font-family: 'Barlow';  /* you can choose any name */
    src: url('./font/Barlow/Barlow-Medium.ttf'); /* path to your font file */
}


* {
    height: 128vh;
    width: 99vw;
    color: ;
}