@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Medium.ttf');
}


* {
    height: 128vh;
    width: 99vw;
    color: ;
}
#homepagina {
    border: solid 3px black;
    height: 75px;
    text-align: center;
    font-family: 'Barlow';
}

.logo {
   max-width: 10%;
    float: left;
}