@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
}

/* Index */

#homepagina {
    background-image: linear-gradient(#AED4AA, #c1e4bd);
    height: 120vh;
    width: 99vw;
}

#menu {
    border: solid 1px black;
    height: 70px;
    padding: 0.5cm 0cm 0.1cm 0cm;
    text-align: center;
    font-family: 'Barlow';
    background-image: radial-gradient(#006444, #003c29);
    position: relative; 
    color: #ecffa1;
}

nav {
    background-image: radial-gradient(#6B9C85, #527665);
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
    position: relative;
    border: solid 1px black;
    font-size: 1.3em;
  
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Barlow';
}

nav a:hover {
    color: #dbff4a;
    font-family: 'Barlow';   
    font-weight: bold;
}

.logo {
    max-width: 10%;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 15px;
}

#countdown {
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
    position: relative;
    border: solid 5px black;
    font-size: 3em;
    background-image: radial-gradient(#527665, #006444);
    color: #ecffa1;
  
}

#maintext {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
    position: relative;
}


#maintext2 {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
    position: relative;
}

#maps-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#iframe1, #iframe2 {
    flex: 1 0 auto;
}

#yt {
    border: solid 1x black;
    width: 75px;
    margin: 3px 0 5cm 14.9cm;
    position: absolute;
}

#x {
    width: 95px;
    margin: 7px 0 5cm 16.4cm;
    position: absolute;
    border: solid 1x black;
}

#ig {
    margin: 0 0 7cm 18.3cm;
    position: absolute;
    border: solid 1x black;
    width: 80px;
}


#in {
    width: 70px;
    margin: 4px 0 4.5cm 20.2cm;
    position: absolute;
    border: solid 1x black;
}

#fb {
    margin: -2px 0 0 21.8cm;
    position: absolute;
    border: solid 1x black;
    width: 80px;
}



/* ANIMATION STYLES */

.animate-on-load {
    animation: flowIn 1.8s forwards;
    animation-fill-mode: forwards;
}


@keyframes flowIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}




/* Responsive styles */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 20%; 
        left: 10px; 
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        max-width: 30%; 
        left: 5px; 
    }
}
