@font-face {
    font-family: 'Barlow';  
    src: url('./font/Barlow/Barlow-Medium.ttf'); 
}
  
* {
    font-family: 'Barlow', fallback, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Index */

#homepagina {
  background-image: linear-gradient(#AED4AA, #c1e4bd);
  height: 100vh;
  width: 99vw;
}

#menu {
  border: solid 1px black;
  height: 70px;
  padding: 0.8cm 2cm 1.8cm 2cm;
  text-align: center;
  font-family: 'Barlow';
  background-image: radial-gradient(#006444, #003c29);
  position: relative; 
  color: #ecffa1;
}

  /* Form styles */
  #simpleForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #formulier {
    border: solid 1px black;
    padding: 1cm;
    margin: 3cm 0 0 4cm;
    background-image: linear-gradient(#004831, #AED4AA);
    box-shadow: #003c29 10px 10px 10px 5px;
    width: 30cm;
    height: 11cm;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #dbff4a;
    font-size: 1.3em;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #dbff4a;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    #simpleForm {
      max-width: 100%;
    }
  }
  
  @font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Medium.ttf');
}

* {
    box-sizing: border-box; 
}

nav {
  background-image: radial-gradient(#6B9C85, #527665);
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Barlow';
}

nav a:hover {
  color: #dbff4a;
  font-family: 'Barlow';   
  font-weight: bold;
}

.logo {
    max-width: 10%;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: 15px; 
}


/* ANIMATION STYLES */

.animate-on-load {
  animation: flowIn 1.8s forwards;
  animation-fill-mode: forwards;
}


@keyframes flowIn {
  from {
      transform: translateY(100%);
      opacity: 0;
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}



/* Responsive styles */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 20%; 
        left: 10px; 
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        max-width: 30%; 
        left: 5px; 
    }
}
