@font-face {
    font-family: 'Barlow';  /* you can choose any name */
    src: url('./font/Barlow/Barlow-Medium.ttf'); /* path to your font file */
}
  
* {
    font-family: 'Barlow', fallback, sans-serif;
}

/* Basic reset and styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color:#006445;
    padding: 20px;
  }
  
  /* Form styles */
  #simpleForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #dbff4a;
    color: #000000;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    #simpleForm {
      max-width: 100%;
    }
  }
  
  @font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow/Barlow-Medium.ttf');
}

* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html,
body {
    margin: 0;
    padding: 0;
}



#homepagina {
    border: solid 3px black;
    height: 75px;
    text-align: center;
    font-family: 'Barlow';
    background-color: #6B9C85;
    position: relative; /* Add positioning for the parent div */
}

nav {
    background-color: #006445;
    padding: 10px;
    text-align: center;
    font-family: 'Barlow';
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Barlow';
}

nav a:hover {
    color: #c2e842;
    font-family: 'Barlow';
}

.logo {
    max-width: 10%;
    position: absolute; /* Position the image absolutely within the parent div */
    top: 50%; /* Move the image to the middle vertically */
    transform: translateY(-50%); /* Adjust to center the image vertically */
    left: 15px; /* Adjust the distance from the left side */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 20%; /* Adjust image size for smaller screens */
        left: 10px; /* Adjust the distance from the left side for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        max-width: 30%; /* Adjust image size for even smaller screens */
        left: 5px; /* Adjust the distance from the left side for even smaller screens */
    }
}
